
<body [ngClass]="{'highlight':isHighlight}">

  <h2>ngIf example</h2>
  <button *ngIf="data">Sign In</button><br />
  <button *ngIf="!data">Sign Up</button>

  <h2>ngFor example</h2>
  <h3>Example 1</h3>
  <ul *ngFor="let i of numbers">
    <li>{{ i }}</li>
  </ul>

  <h2>ngFor example</h2>
  <h3>Example 2</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>AGE</th>
    </tr>
    <tbody *ngFor="let std of students">
      <tr>
        <td>{{ std.id }}</td>
        <td>{{ std.name }}</td>
        <td>{{ std.age }}</td>
      </tr>
    </tbody>
  </table>

  <!-- <h1>Select a color</h1> -->
  <!-- <form> -->
    <!-- <label for="color">Choose a color</label> -->
    <!-- <select id="color" name="color" [(ngModel)]="color"> -->
      <!-- <option value="yellow">yellow</option> -->
      <!-- <option value="white">white</option> -->
    <!-- </select> -->
  <!-- </form> -->

  <div [ngSwitch]="color">
    <p *ngSwitchCase="'yellow'">Yellow color</p>
    <p *ngSwitchCase="'white'">White color</p>
    <p *ngSwitchDefault>Default</p>
  </div>

  <h2>Attribute Directives</h2>

  <button (click)="highlightOnOff()">Highlight On/Off</button>

  <div [style.fontSize]="fontSize">this test will be increase in size</div>
  <button (click)="increase()">Increase font size</button>
  <button (click)="decrease()">decrease font size</button>

</body>
